/* AboutMe.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(Images/BG2.jpg);
    background-size: cover;
}

div {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    line-height: 1.6;
}

strong {
    color: #333;
}

em {
    color: #555;
}

p {
    font-size: 1.1em;
    color: #666;
}

span {
    color: #333;
    font-weight: bold;
}